@font-face {
    font-family: "cairo";
    src: url('../fonts/Cairo/Cairo-Light.ttf');
}

@font-face {
    font-family: "roboto";
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

body {
    padding: 10px;
    padding-top: 0;
    width: 325px;
}

.main-icon {
    color: rgb(100, 189, 99);
    font-size: 13pt;
    display: flex;
}

.header-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 22pt;
    font-family: 'roboto';
}

.small-icon {
    color: rgb(100, 189, 99);
    margin-right: 10px;
    font-size: 14pt;
}

.prayer-text {
    font-size: 17pt;
    font-family: 'cairo';
}

.prayer-on,
.prayer-off {
    cursor: pointer;
}

.prayer-off {
    color: #B0BEC5;
}

.prayer-on {
    color: rgb(100, 189, 99);
}

.app-entry {
    margin-left: 0 !important;
}

.line {
    margin: 0px -30px 10px -30px;
    border: 1px solid #ECEFF1;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

.content {
    align-content: baseline;
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
}

.header {
    margin: 10px 0;
}

.notifications,
.hour-format,
.method {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.notifications-label,
.hour-format-label,
.method-label {
    font-size: 12pt;
    font-family: 'roboto';
    font-weight: bold;
    margin-left: 10px;
}

.notifications-control,
.hour-format-control,
.method-control {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

#method {
    height: 35px;
    width: 80%;
}