<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Prayer Times</title>
    <link href="styles/main.css" rel="stylesheet">
    <link href="styles/flaticon-ramadan.css" rel="stylesheet">
    <link href="styles/fontawesome.css" rel="stylesheet">
    <link href="styles/fa-solid.css" rel="stylesheet">
    <!-- bower:css -->
    <link href="styles/angular-ui-switch.css" rel="stylesheet">
    <!-- endbower -->
    <script src="scripts/PrayTimes.js"></script>
    <script src="scripts/CalculationProvider.js"></script>
    <script src="scripts/DataService.js"></script>
    <!-- bower:js -->
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-ui-switch.js"></script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/moment.js"></script>
    <!-- endbower -->
    <script src="scripts/app.js"></script>
    <script src="scripts/I18n.Service.js"></script>
    <script src="scripts/Data.Service.js"></script>
    <script src="scripts/PopUp.Controller.js"></script>
</head>

<body ng-app="bptimes" id="main">
    <div class="container">
        <div class="" ng-controller="popup">
            <div class="row header">
                <i class="flaticon-small-mosque flaticon-lg main-icon"></i>
                <h3 class="header-text">{{header}}</h3>
            </div>
            <hr class="line" />
            <div class="content">
                <div class="row app-entry">
                    <span>
                        <a class="fas fa-bell small-icon" ng-class="imsak.notify ? 'prayer-on' : 'prayer-off'" ng-click="notifyChanged('imsak')"></a>
                        <span class="prayer-text">{{ imsak.value }}</span>
                    </span>
                    <span class="prayer-text">{{ imsak.key }}</span>
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-arabian-lantern"></i>
                    </span>
                </div>
                <div class="row app-entry">
                    <span>
                        <a class="fas fa-bell small-icon" ng-class="fajr.notify ? 'prayer-on' : 'prayer-off'" ng-click="notifyChanged('fajr')"></a>
                        <span class="prayer-text">{{ fajr.value }}</span>
                    </span>
                    <span class="prayer-text">{{ fajr.key }}</span>
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-subah-prayer"></i>
                    </span>
                </div>
                <div class="row app-entry">
                    <span>
                        <a class="fas fa-bell small-icon" ng-class="sunrise.notify ? 'prayer-on' : 'prayer-off'" ng-click="notifyChanged('sunrise')"></a>
                        <span class="prayer-text">{{ sunrise.value }}</span>
                    </span>
                    <span class="prayer-text">{{ sunrise.key }}</span>
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-ramadan-sunrise"></i>
                    </span>
                </div>
                <div class="row app-entry">
                    <span>
                        <a class="fas fa-bell small-icon" ng-class="dhuhr.notify ? 'prayer-on' : 'prayer-off'" ng-click="notifyChanged('dhuhr')"></a>
                        <span class="prayer-text">{{ dhuhr.value }}</span>
                    </span>
                    <span class="prayer-text">{{ dhuhr.key }}</span>
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-zuhar-prayer"></i>
                    </span>
                </div>
                <div class="row app-entry">
                    <span>
                        <a class="fas fa-bell small-icon" ng-class="asr.notify ? 'prayer-on' : 'prayer-off'" ng-click="notifyChanged('asr')"></a>
                        <span class="prayer-text">{{ asr.value }}</span>
                    </span>
                    <span class="prayer-text">{{ asr.key }}</span>
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-ramadn-azhar"></i>
                    </span>
                </div>
                <div class="row app-entry">
                    <span>
                        <a class="fas fa-bell small-icon" ng-class="maghrib.notify ? 'prayer-on' : 'prayer-off'" ng-click="notifyChanged('maghrib')"></a>
                        <span class="prayer-text">{{ maghrib.value }}</span>
                    </span>
                    <span class="prayer-text">{{ maghrib.key }}</span>
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-maghrib-prayer"></i>
                    </span>
                </div>
                <div class="row app-entry">
                    <span>
                        <a class="fas fa-bell small-icon" ng-class="isha.notify ? 'prayer-on' : 'prayer-off'" ng-click="notifyChanged('isha')"></a>
                        <span class="prayer-text">{{ isha.value }}</span>
                    </span>
                    <span class="prayer-text">{{ isha.key }}</span>
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-isha-prayer"></i>
                    </span>
                </div>
            </div>
            <div class="method">
                <label for="method" class="method-label">{{methodKey}}</label>
                <span class="method-control">
                    <select id="method" ng-model="method" ng-change="methodChanged()">
                        <option value="MWL">{{methods.MWL.name}}</option>
                        <option value="ISNA">{{methods.ISNA.name}}</option>
                        <option value="Egypt">{{methods.Egypt.name}}</option>
                        <option value="Makkah">{{methods.Makkah.name}}</option>
                        <option value="Karachi">{{methods.Karachi.name}}</option>
                        <option value="Tehran" selected>{{methods.Tehran.name}}</option>
                        <option value="Jafari">{{methods.Jafari.name}}</option>
                    </select>
                </span>
            </div>

            <div class="hour-format">
                <label for="hourFormat" class="hour-format-label">{{formatKey}}</label>
                <span class="hour-format-control">
                    <switch id="hourFormat" class="green small" name="enabled" ng-model="format" ng-change="formatChanged()"></switch>
                </span>
            </div>
        </div>
    </div>
</body>

</html>